.woocommerce{
    form{

        #customer_details{
            .woocommerce-billing-fields{

                width: 608px;
                height: 1724px;
                

                h3{
                    font-size:36px;
                    line-height:54px;
                    font-family: Poppins, Arial, Helvetica, sans-serif;
                    font-weight:600;

                }
                .woocommerce-billing-fields__field-wrapper{

                    width:460px;

                    p.form-row{

                        label{

                            
                                font-family: Poppins,Arial, Helvetica, sans-serif;
                                font-weight: 500;
                                font-size:16px;
                                line-height:24px;
                                margin-bottom:20px;
                      
                            .required{
                                display:none;
                            }
                  
                        }
                        span{

                            #billing_first_name{
                                width: 211px;
                                height: 75px;
                                border-radius:10px;
                                border:1px solid 
                                #9F9F9F;
                                

                            }

                            
                            #billing_last_name{
                                width: 211px;
                                height: 75px;
                                border-radius:10px;
                                border:1px solid 
                                #9F9F9F;

                            }

                            #billing_company{
                                width:453px;
                                height:75px;
                                border-radius:10px;
                                border:1px solid 
                                #9F9F9F;
                                
                            }


                        }
    
                    }

                }

           
            }
        }

    }
}