footer {

  width: 1440px;
  height: 555px;
  background-color: lightblue;
  display: flex;
  justify-content:center;
  align-items: center;

  h4 {
    font-family: $font;
    color: $secondary-font-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

  }



  .footer-section {
    border: 1px solid #000000;
    width: 1240.01px;
    height: 419px;
    display: flex; // order columns horizontally
    justify-content: space-between; // add space between columns

    .column-big, .column-small {
      display: flex; // order content in columns vertically
    }

    .column-big {
      width: 33.33%;
    }

    .column-small {
      width: 16.66%;
    }

    .address_field{
      display: flex;
      align-items: center;


      p{
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: $secondary-font-color;
      }
    }

    .links-menu, .help-menu, .newsletter-form-container{
      display:flex;
      align-items: flex-start;
      flex-direction: column; // same

      /*width: 66px;
      height: 233px;*/
      top: 1418px;
      left: 525.01px;

      ul {
        text-align: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width:140px;

        li {
          margin-top: 3rem;
        }

        li a {
          list-style: none;
          font-family: $font;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-decoration:none;
          color: $primary-font-color;

        }
      }


    }


    .newsletter-form-container{

      form {
        margin-top: 3rem;

        .newsletter_email, .newsletter_submit{
          font-family: $font;
          border-bottom: solid 2px #242424;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
        }

        label input{
          color: $secondary-font-color;
          margin-right: 5px;
        }

        .newsletter_submit:hover {
        cursor:pointer;
        }

      }

    }

  }



}