
header{
   
  .secondary_menu{
    
      #menu-item-26 {
        
    
        a {
            

            background-image: url('/resources/images/shopping-cart.svg');
            background-position: center center;
            background-size: contain;
            position:absolute;
            margin:auto;
            background-repeat: no-repeat;
            text-decoration: none;
            width: 20px;
            height: 20px;
            color: transparent;
        
        }   
      
    }

  }

}
